<!DOCTYPE html>
<html>
<head>
  <title>Bill Details</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h1>Bill Details</h1>
  <p>Name: <%= billDetails.name %></p>
  <p>Amount: <%= billDetails.amount %></p>
  <!-- Add more fields as necessary -->
</body>
</html>
